@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300;400;500;600;700&family=Space+Grotesk:wght@300..700&family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Gilroy Black Font */
@font-face {
  font-family: "Gilroy-Black";
  src: url("/fonts/gilroy-black/gilroy-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Neue Montreal Font Family */
@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/neue-montreal/NeueMontreal-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/neue-montreal/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/neue-montreal/NeueMontreal-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/neue-montreal/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/neue-montreal/NeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #f3e5cb;
  --text-heading: #171717;
  --text-body: #5b5b5b;
  --primary: #a7683a;
}

@theme inline {
  --color-background: var(--background);
  --color-text-heading: var(--text-heading);
  --color-text-body: var(--text-body);
  --color-primary: var(--primary);
  --font-sans: "Poppins";
  --font-heading: "Neue Montreal";
  --font-gilroy-black: "Gilroy-Black";
  --font-playfair: "Playfair Display";
}

body {
  background: var(--background);
  color: var(--text-body);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-heading);
  font-family: var(--font-heading);
}

p {
  color: var(--text-body);
  font-family: var(--font-sans);
}

button {
  cursor: pointer;
}