@import "tailwindcss";

:root {
  --background: #F3E5CB;
  --text-heading: #171717;
  --text-body: #5B5B5B;
  --primary: #A7683A;
}

@theme inline {
  --color-background: var(--background);
  --color-text-heading: var(--text-heading);
  --color-text-body: var(--text-body);
  --color-primary: var(--primary);
  --font-sans: var(--font-poppins), sans-serif;
  --font-heading: var(--font-neue-montreal), sans-serif;
}

body {
  background: var(--background);
  color: var(--text-body);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-heading);
  font-family: var(--font-heading);
}

p {
  color: var(--text-body);
  font-family: var(--font-sans);
}